@import "../../colours.css";

body {
  background-color: var(--color-primary); 
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

.profileImg {
  width: 300px; 
  height: 300px;
  border-radius: 50%; 
  object-fit: cover; 
  margin: 50px;
  border: 3px solid var(--color-primary); 
}

.content {
  font-size: 1.8rem;
  color: var(--color-primary);
  padding-bottom: 20px;
  margin: auto;
}

.desc {
  padding-top: 20px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    text-align: center;
  }
}